html, body {
	height: 100%;
}

.folio {
    background-image: url(images/background-white.jpg);
    background-repeat: repeat-x;
    height: 100%;
    overflow: auto;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.folio-content {
	margin-bottom: 50px;
}

.folio-content img {
	margin-bottom: 20px;
	margin-top: 20px;
}

.folio-content .row img {
	margin-top: 5px;
}

.contact td {
	padding-right: 20px;
}

.navbar-brand {
	padding: 0;
}

.icon1 {
    position: relative;
    top: 300px;	
}

.icon2 {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 400px;
}

.home .icon2 {
	display: block;
}

.icon3 {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 500px;
	bottom: 0;
}

.home .icon3 {
	display: block;
}

.about a {
	display: block;
}

a.navbar-brand {
    margin: 0;
    padding: 0;
    border: none;
}

.navbar {
    background-color: transparent !important;
    border: none !important;
}

.small-and-white {
    color: #ffffff;
    font-size: 12px;
}

.padded {
    line-height: 1.42857;
}