<template name="about">
<div class="about">
    <div class="row">
    <div class="col-md-8 col">
        <p>hello and thanks for visiting my website!</p>
        <p>i am a vietnamese-australian who has grown up with influences from both
        my asian heritage and modern australia. my early working life was spent
        in the financial sector, but this has never resonated well with me and during my
        20s it became clear that the things i really love are being creative, interacting 
        with people and making an ethical contribution to society and our wonderful
        natural planet.
        </p>
        <p>
        a definative transition into the creative world was marked in 2011 when i completed
        a certificate in graphic design at Shillington College in brisbane. this opened my
        eyes to a whole new world and felt like a 'home-coming' to what i was meant to do.
        since then i have worked freelance and in contract roles for corporate, government and 
        not-for-profit organisations.
        </p>
        <p>
        outside of graphic design you will find me working with textiles and other crafty
        projects in my home studion in brisbane.
        </p>
        <p>
        a sample of my design work is showcased on the website. please drop me a line if you
        want to discuss a possible project or just say hi.
        </p>
        <a href="mailto:hello@kim-vu.com" class="pink">hello@kim-vu.com</a>
    </div>
    <div class="col-md-1">
        <img class="icon1" src="images/icon1.png"></img>
    </div>
    </div>
</div>
</template>