<template name="contact">
<div class="contact">
    <div class="row">
    <div class="col-md-7 col">
    <table>
        <tr>
            <td>email</td>
            <td><a class="pink" href="mailto:hello@kim-vu.com">hello@kim-vu.com</a></td>
        </tr>
        <tr>
            <td>facebook</td>
            <td><a href="http://www.facebook.com/kimvugraphicdesign">facebook.com/kimvugraphicdesign</a></td>
        </tr>
        <tr>
            <td>mob</td>
            <td>+61 (0) 412 241 000</td>
        </tr>
        <tr>
            <td>skype</td>
            <td>kimvusalamonsen</td>
        </tr>
    </table>
    </div>
    </div>
</div>
</template>