<template name="main">
<div class="{{backgroundClass}}">
<img class="icon2" src="images/icon2.png"></img>
<img class="icon3" src="images/icon3.png"></img>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/"> <img
								src="{{logoImageSrc}}" class="img-responsive"></img>
							</a>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="collapse navbar-collapse navbar-ex1-collapse">
					    <div class="row">
					    <div class="col-md-4">
						<ul class="nav navbar-nav">
							<li class="{{isActive "brand"}}"><a href="/brand">brand</a></li>
							<li class="{{isActive "print"}}"><a href="/print">print</a></li>
							<li class="{{isActive "pack"}}"><a href="/pack">pack</a></li>
							<li class="{{isActive "nfp"}}"><a href="/nfp">nfp</a></li>
							<li class="{{isActive "textiles"}}"><a href="/textiles">textiles</a></li>
                                                        <li class="{{isActive "scrapbook"}}"><a href="/scrapbook">scrapbook</a></li>
							<li class="gap {{isActive "about"}}"><a href="/about">about</a></li>
							<li class="{{isActive "contact"}}"><a href="/contact">say hello</a></li>
						</ul>
						</div>
						<div class="col-md-8">
						<ul class="nav navbar-nav">
                                                        {{#if isActive "scrapbook"}}
                                                            <li class="{{isSubActive "scrapbook1"}}"><a href="/scrapbook1">invernio 2014</a></li>
                                                        {{else}}
							<li class="{{isSubActive "spanishLearningCentre"}}"><a href="/spanishLearningCentre">spanish learning centre</a></li>
							<li class="{{isSubActive "garlandThai"}}"><a href="/garlandThai">garland thai</a></li>
							<li class="{{isSubActive "openHouse"}}"><a href="/openHouse">open house mifc</a></li>
							<li class="{{isSubActive "swagga"}}"><a href="/swagga">swagga swimwear</a></li>
							<li class="{{isSubActive "artExhibition"}}"><a href="/artExhibition">art exhibition</a></li>
							<li class="{{isSubActive "pause4Pets"}}"><a href="/pause4Pets">pause4pets</a></li>
							<li class="{{isSubActive "dmdImports"}}"><a href="/dmdImports">dmd imports</a></li>
							<li class="{{isSubActive "ecoBud"}}"><a href="/ecoBud">ecobud water</a></li>
							<li class="{{isSubActive "kateWeir21"}}"><a href="kateWeir21">kate weir 21</a></li>
							<li class="{{isSubActive "greenCrossAustralia"}}"><a href="/greenCrossAustralia">green cross australia</a></li>
							<li class="{{isSubActive "easyFoam"}}"><a href="/easyFoam">easyfoam</a></li>
							<li class="{{isSubActive "bergsGourmetBurgers"}}"><a href="/bergsGourmetBurgers">bergs gourmet burgers</a></li>
						        <li class="{{isSubActive "barn"}}"><a href="/barn">barn wedding</a></li>
						        <li class="{{isSubActive "anewchapter"}}"><a href="/anewchapter">a new chapter</a></li>
                                                        {{/if}}
						</ul>
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 folio-content">
				{{renderPage}}
				</div>
			</div>
		</div>
	</div>
	<!-- /home -->
</template>
