<template name="anewchapter">
<p>A NEW CHAPTER</p>
<p>
<a href="https://s3-ap-southeast-2.amazonaws.com/kim-vu/anewchapter.pdf" class="pink" target="_blank">download pdf here</a>
</p>
<p>COVER</p>
<a href="images/foliohr/anewchapter-1.jpg" class="popup"><img src="images/folio/anewchapter-1.jpg" class="img-responsive"></img></a>
<p>SELECTED PAGES</p>
<a href="images/foliohr/anewchapter-2.jpg" class="popup"><img src="images/folio/anewchapter-2.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-3.jpg" class="popup"><img src="images/folio/anewchapter-3.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-4.jpg" class="popup"><img src="images/folio/anewchapter-4.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-5.jpg" class="popup"><img src="images/folio/anewchapter-5.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-6.jpg" class="popup"><img src="images/folio/anewchapter-6.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-7.jpg" class="popup"><img src="images/folio/anewchapter-7.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-8.jpg" class="popup"><img src="images/folio/anewchapter-8.jpg" class="img-responsive"></img></a>
<a href="images/foliohr/anewchapter-9.jpg" class="popup"><img src="images/folio/anewchapter-9.jpg" class="img-responsive"></img></a>

<p>BACK</p>
<a href="images/folio/anewchapter-10.jpg" class="popup"><img src="images/folio/anewchapter-10.jpg" class="img-responsive"></img></a>
</template>