<template name="artExhibition">
<p>2013 ART CATALOGUE / MENTAL ILLNESS FELLOWSHIP QUEENSLAND</p>
<p>25-page A4 are catalogue</p>
<img src="images/folio/artExhibition-1.png" class="img-responsive"></img>
<p>Page 2-3 Art catalogue</p>
<img src="images/folio/artExhibition-2.png" class="img-responsive"></img>
<p>Page 4-5 Art catalogue</p>
<img src="images/folio/artExhibition-3.png" class="img-responsive"></img>
<p>2013 ART EXHIBITION INVITATION</p>
<p>Front/Back</p>
<img src="images/folio/artExhibition-4.png" class="img-responsive"></img>
<img src="images/folio/artExhibition-5.png" class="img-responsive"></img>
<p>2013 ART EXHIBITION THANK-YOU POSTCARDS</p>
<p>Front/Back</p>
<img src="images/folio/artExhibition-6.png" class="img-responsive"></img>
<p>2013 ART EXHIBITION ENTRY TICKET</p>
<img src="images/folio/artExhibition-7.png" class="img-responsive"></img>
</template>