<template name="dmdImports">
<p>DMD IMPORTS / BRISBANE</p>
<p>Packaging for children's socks</p>
<img src="images/folio/dmdImports-1.png" class="img-responsive"></img>
<img src="images/folio/dmdImports-2.png" class="img-responsive"></img>
<div class="row">
    <div class="col-md-6">
        <img src="images/folio/dmdImports-3.png" class="img-responsive"></img>
    </div>
    <div class="col-md-6">
        <img src="images/folio/dmdImports-4.png" class="img-responsive"></img>
    </div>
</div>
</template>