<template name="dmdImports">
<p>DMD IMPORTS / BRISBANE</p>
<p>Packaging for children's socks</p>
<a href="images/foliohr/dmdImports-1.png" class="popup"><img src="images/folio/dmdImports-1.png" class="img-responsive"></img></a>
<a href="images/foliohr/dmdImports-2.png" class="popup"><img src="images/folio/dmdImports-2.png" class="img-responsive"></img></a>
<div class="row">
    <div class="col-md-6">
        <a href="images/foliohr/dmdImports-3.JPG" class="popup"><img src="images/folio/dmdImports-3.png" class="img-responsive"></img></a>
    </div>
    <div class="col-md-6">
        <a href="images/foliohr/dmdImports-4.JPG" class="popup"><img src="images/folio/dmdImports-4.png" class="img-responsive"></img></a>
    </div>
</div>
<p>Packaging for women's socks</p>
<a href="images/foliohr/dmdImports-6.png" class="popup"><img src="images/folio/dmdImports-6.png" class="img-responsive"></img></a>
<div class="row">
    <div class="col-md-6">
        <a href="images/foliohr/dmdImports-7.jpg" class="popup"><img src="images/folio/dmdImports-7.jpg" class="img-responsive"></img></a>
    </div>
    <div class="col-md-6">
        <a href="images/foliohr/dmdImports-8.jpg" class="popup"><img src="images/folio/dmdImports-8.jpg" class="img-responsive"></img></a>
    </div>
</div>
<p>Packaging for men's socks</p>
<a href="images/foliohr/dmdImports-9.png" class="popup"><img src="images/folio/dmdImports-9.png" class="img-responsive"></img></a>
<a href="images/foliohr/dmdImports-10.jpg" class="popup"><img src="images/folio/dmdImports-10.jpg" class="img-responsive"></img></a>

</template>