<template name="easyFoam">
<p>EASYFOAM BRAND IDENTITY</p>
<p>Sketching concepts</p>
<div class="row">
    <div class="col-md-6">
        <img src="images/folio/easyFoam-1.png" class="img-responsive"></img>
    </div>
    <div class="col-md-6">
        <img src="images/folio/easyFoam-2.png" class="img-responsive"></img>
    </div>
</div>
<p>EASYFOAM CONCEPT DEVELOPMENT</p>
<img src="images/folio/easyFoam-3.png" class="img-responsive"></img>
<p>EASYFOAM</p>
<p>BRAND IDENTITY</p>
<img src="images/folio/easyFoam-4.png" class="img-responsive"></img>
</template>