<template name="pause4Pets">
<p>PAUSE4PETS BRAND IDENTITY & BUSINESS CARDS</p>
<p>Front (white background) / Front (purple background) / and Back</p>
<img src="images/folio/pause4Pets-1.png" class="img-responsive"></img>
<img src="images/folio/pause4Pets-2.png" class="img-responsive"></img>
<img src="images/folio/pause4Pets-3.png" class="img-responsive"></img>
<p>SKETCHING CONCEPTS</p>
<div class="row">
    <div class="col-md-6">
        <img src="images/folio/pause4Pets-4.png" class="img-responsive"></img>
    </div>
    <div class="col-md-6">
        <img src="images/folio/pause4Pets-5.png" class="img-responsive"></img>
    </div>
</div>
<p>STATIONARY ROLL OUT</p>
<p>Evvelope DL</p>
<img src="images/folio/pause4Pets-6.png" class="img-responsive"></img>
</template>