html, body {
	height: 100%;
}

.folio {
    background-image: url(../images/background-white.jpg);
    background-repeat: repeat-x;
    height: 100%;
    overflow: auto;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.folio-content {
	margin-bottom: 50px;
}

.folio-content img {
	margin-bottom: 20px;
	margin-top: 20px;
}

.folio-content .row img {
	margin-top: 5px;
}

/*
.contact .col,
.about .col  {
	background-color: #fff;
	padding: 30px;
}
*/

.contact td {
	padding-right: 20px;
}

.navbar-brand {
	padding: 0;
}

.icon1 {
    position: relative;
    top: 300px;	
}

.about a {
	display: block;
}