html, body {
	height: 100%;
}

.home {
    background-image: url(../images/home-back.jpg);
    background-repeat: repeat-x;
    height: 100%;
    overflow: auto;
}

.folio {
    background-image: url(../images/background-white.jpg);
    background-repeat: repeat-x;
    height: 100%;
    overflow: auto;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.folio-content img {
	margin-bottom: 20px;
	margin-top: 20px;
}

.folio-content .row img {
	margin-top: 5px;
}